<footer class="footer">
    <ul class="footer__impressum">
        <li class="footer__impressum-element">Alex Uscata</li>
        <li class="footer__impressum-element">Spitzackerstrasse 9,</li>
        <li class="footer__impressum-element">4410 Liestal</li>
    </ul>
    <ul class="footer_about"></ul>
</footer>
