@use "../helpers/mixins";
@use "../helpers/color";

.album-connection {

  @include mixins.content-grid-content-block;

  display: grid;
  grid-template: "album" 1fr / 1fr;
  height: 60vh;
  min-height: 300px;
  margin-inline: 5rem;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  background-color: rgba(map-get(color.$base-colors, grey-blue), 70%); //stylelint-disable-line

  &__album {
    grid-area: album;
    width: 100%;
    height: 100%;
  }
}
