@use "../helpers/mixins";
@use "../helpers/color";

.banner {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 20px 2px rgb(128, 128, 128);
  background-position-y: top;
  background-position-x: center;

  &__intro {
    padding-inline: 2rem;
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: clamp(1rem, 10vw, 5rem);
    line-height: clamp(1rem, 10vw, 5rem);
    text-align: center;
  }

  &--fake {
    @include mixins.content-grid-full-block;

    height: calc(30vh - var(--navbar-height));
  }
}
