@use "../helpers/mixins";
@use "../helpers/color";

.banner {
  display: flex;
  position: absolute;
  height:  30vh;
  width: 100vw;
  top: 0;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 20px 2px rgb(128 128 128);
  justify-content: center;
  align-items: center;

  &__intro {
    font-family: "Tiny5", sans-serif;
    padding-inline: 2rem;
    text-align: center;
    color: white;
    font-size: clamp(1rem, 10vw, 5rem);
    line-height: clamp(1rem, 10vw, 5rem);
  }

  &--fake {
    @include mixins.content-grid-full-block;

    height: calc(30vh - var(--navbar-height));
  }
}
