@use "../helpers/mixins";
@use "../helpers/color";

.banner {
  display: flex;
  position: absolute;
  height:  30vh;
  width: 100vw;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 20px 2px rgb(128 128 128);
  justify-content: center;
  align-items: center;
}
