@use "../helpers/mixins";
@use "../helpers/color";

.grid-example {
  @include mixins.content-grid-content-block;

  min-height: 100px;

  &__content {
    position: absolute;
    padding: 2rem;
    background-color: color.get(default);
    box-shadow: 0 0 10px color.get(default);
  }

  &__input {
    width: 30px;
    border: 1px solid color.get(default);
  }
}
