.container-spotify {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  min-width: 400px;
  height: 60vh;
  min-height: 300px;
  border-radius: 10px;
  background-color: rgb(128 128 158 / 70%);
}
