@use "../helpers/mixins";
@use "../helpers/color";

.map {
  @include mixins.content-grid-content-block;
  padding-inline: 7rem;
  margin: 1rem 0 0 0;

  &__content {
    height: 25rem;
  }
}

@media screen and (width < 770px) {
  .map {
    padding-inline: 0;
  }
}
