@use "sass:map";
@use "../helpers/mixins";

.navbar {
  overflow-y: hidden;
  background-color: transparent;
  box-shadow: none;
  user-select: none;

  &.navbar--open {
    .navbar__scroll-wrapper {
      display: block;
    }
  }

  &__scroll-wrapper {
    display: none;
    overflow-x: hidden !important; //stylelint-disable-line
  }

  &__mobile-header {
    background: transparent;
  }

  &__mobile-content {
    border-radius: 5px;
    background-color: rgb(89, 89, 110, 90%);
    box-shadow: 0 0 50px 5px rgb(60, 60, 60, 70%);

    &-link {
      padding: 2rem 0;
      font-size: 1.5rem;
      text-align: center;

      &-title {
        color: white;
        font-family: "Roboto Mono", monospace;
        text-decoration: none;
      }

      &-title:hover {
        color: rgb(200, 200, 200);
      }
    }

    &-link-dropdown {
      position: relative;
      left: 50%;
      grid-area: cursor;
      padding: 0;
      font-size: 1rem;
      list-style: none;
      text-align: left;

      &-element {
        color: white;

        &-link {
          color: white;
          text-decoration: none;
        }

        &-link:hover {
          color: rgb(200, 200, 200);
        }
      }
    }
  }

  &__desktop-content {
    @include mixins.content-grid-full-block;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;

    &-links {
      display: flex;
      justify-content: space-evenly;
      font-family: "Roboto Mono", monospace;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5rem;
      list-style: none;
      font-optical-sizing: auto;
    }

    &-link-dropdown {
      display: none;
      position: absolute;
      grid-area: cursor;
      padding: 0;
      font-size: 1rem;
      list-style: none;

      &-element {
        transform: translateX(75%);

        &-link {
          color: black;
          text-decoration: none;
        }

        &-link:hover {
          color: rgb(51, 51, 62);
        }
      }
    }

    &-link {
      display: grid;
      position: relative;
      grid-template-areas:
        "link"
        "cursor";
      margin-left: 1.5rem;
    }

    &-link:hover,
    &-link:hover &-link-title {
      color: rgb(51, 51, 62);
      cursor: pointer;

      .navbar__desktop-content-cursor {
        display: block;
        animation: cursor 1s infinite;
        color: black;
      }
    }

    &-link:hover &-link-dropdown {
      display: block;
    }

    @for $i from 1 through 10 {
      &-link:hover &-link-dropdown-element:nth-child(#{$i}n) {
        animation: slide 0.3s #{$i * 0.1}s ease-in forwards;
      }
    }

    &-cursor {
      display: none;
      position: absolute;
      top: -1rem;
      right: 0;
      grid-area: cursor;
      font-size: 1rem;
    }

    &-link-title {
      grid-area: link;
      color: black;
      text-decoration: none;
    }

    &-logo {
      width: clamp(5rem, 10vw, 10rem);
      height: clamp(5rem, 10vw, 10rem);
      transition: 0.5s ease-in-out;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (width <= 62rem) {
  .navbar {
    &__desktop-content {
      display: none;
    }

    &__scroll-wrapper {
      padding: 6rem;
    }
  }
}
