@use "../helpers/mixins";
@use "../helpers/color";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(map-get(color.$scroll, thumb), 90%);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(map-get(color.$scroll, thumb-hover), 90%);
}

.spotify-connection {
  @include mixins.content-grid-content-block;

  display: grid;
  grid-template-areas:
    "songs search"
    "songs audio";
  grid-template-columns: 1fr 1fr ;
  height: 60vh;
  min-height: 300px;
  border-radius: 10px;
  margin-inline: 5rem;
  background-color: rgba(map-get(color.$base-colors, grey-blue), 70%);
  transition: 0.3s ease-in-out;

  &__search {
    grid-area: search;
    font-family: "Roboto Mono", monospace;
    justify-self: center;
    align-self: center;
    border: 1px solid color.$grey;
    border-radius: 3px;
    height: 3rem;
    width: 80%;
  }

  &__audio {
    grid-area: audio;
    justify-self: center;
    border-radius: 12px;
    width: 90%;
    height: 152px;
    user-select: none;
    transition: 0.3s ease-in-out;
  }

  &__list {
    grid-area: songs;
    list-style: none;
    justify-self: center;
    align-self: center;
    max-height: 80%;
    width: 95%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &__list-item, &__song {
    color: rgb(223 223 223);
    text-decoration: none;
  }

  &__list-item:hover, &__song:hover, &__artist:hover {
    color: rgb(175, 173, 173);
  }

  &__list-item:nth-child(2n -1) {
    background-color: rgb(89 89 110 / 90%);
  }

  &__list-item--active {
    background-color: rgba(58, 58, 73, 0.9) !important;
  }

  &__artist {
    color: rgb(207, 200, 200);
    font-family: "Roboto Mono", monospace;
  }

  &__spinner {
    display: none;
    grid-area: songs;
    position: relative;
    translate: -50% -50%;
    inset: 50%;
    height: 10rem;
    width: 10rem;

    &--active {
      display: block;
    }
  }
}

@media screen and (width < 770px) {
  .spotify-connection {
    grid-template-areas:
    "search"
    "songs"
    "audio";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    margin: 0;

    &__audio {
      align-self: center;
      transform: scale(0.8);
    }
  }
}
