.footer {
  grid-row: footer-start / footer-end;
  background-color: rgba(97 97 120 / 80%);

  &__impressum {
    list-style: none;
    line-height: 1.25rem;
  }

  &__impressum-element {
    font-family: "Roboto Mono", monospace;
  }
}
