.footer {
  display: flex;
  grid-row: footer-start / footer-end;
  justify-content: space-between;
  margin: 0 8rem 1rem;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
  background-color: rgba(97, 97, 120, 80%);
  box-shadow: 0 5px 20px 0 rgba(64, 64, 64, 80%);

  @media screen and (width < 750px) {
    margin: 0 4rem 1rem;
  }

  &__impressum {
    margin-block: 0.5rem;
    line-height: 1.25rem;
    list-style: none;
  }

  &__impressum-element {
    font-family: "Roboto Mono", monospace;
  }
}
