.footer {
  display: flex;
  grid-row: footer-start / footer-end;
  justify-content: space-between;
  background-color: rgba(97, 97, 120, 80%);

  &__impressum {
    margin-block: 0.5rem;
    line-height: 1.25rem;
    list-style: none;
  }

  &__impressum-element {
    font-family: "Roboto Mono", monospace;
  }
}
