{{ loadCssComponent('album-connection') }}

<div class="album-connection">
    <iframe class="album-connection__album" style="border-radius:12px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
