{{ loadCssComponent('grid-example') }}
<div class="grid-example">
    <div class="grid-example__content">
        <div class="grid-example__dimensions"></div>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias asperiores aspernatur atque autem
</div>
