{{ loadCssComponent('spotify-connection') }}

<div class="spotify-connection">
    <ul class="spotify-connection__list"></ul>
    <div class="spotify-connection__spinner spotify-connection__spinner spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <iframe class="spotify-connection__audio" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <input type="text" class="spotify-connection__search" placeholder="nmixx">
</div>
