{{ loadCssComponent('spotify-connection') }}

<div class="spotify-connection">
    <ul class="spotify-connection__list"></ul>
    <audio class="spotify-connection__audio" controls></audio>
    <input type="text" class="spotify-connection__search" placeholder="nmixx">
</div>
