{{ loadCssComponent('spotify-connection') }}

<div class="spotify-connection">
    <input type="text" class="spotify-connection__search" placeholder="nmixx">
    <ul class="spotify-connection__list"></ul>
</div>
