.icon-chevron-left-8::before {
  content: "\e900";
}

.icon-chevron-right-8::before {
  content: "\e901";
}

.icon-person-32::before {
  content: "\e918";
}

.icon-pin-32::before {
  content: "\e919";
}

.icon-arrow-extern-32::before {
  content: "\e916";
}

.icon-arrow-down-32::before {
  content: "\e904";
}

.icon-arrow-download-32::before {
  content: "\e905";
}

.icon-arrow-left-32::before {
  content: "\e90f";
}

.icon-arrow-right-32::before {
  content: "\e910";
}

.icon-menu-32::before {
  content: "\e906";
}

.icon-close-32::before {
  content: "\e907";
}

.icon-search-32::before {
  content: "\e908";
}

.icon-instagram-32::before {
  content: "\e909";
}

.icon-facebook-32::before {
  content: "\e90a";
}

.icon-twitter-32::before {
  content: "\e90c";
}

.icon-xing-32::before {
  content: "\e90d";
}

.icon-youtube-32::before {
  content: "\e90e";
}

.icon-mail-24::before {
  content: "\e91a";
}

.icon-phone-24::before {
  content: "\e91b";
}

.icon-arrow-extern-24::before {
  content: "\e917";
}

.icon-arrow-down-24::before {
  content: "\e911";
}

.icon-arrow-download-24::before {
  content: "\e912";
}

.icon-arrow-left-24::before {
  content: "\e914";
}

.icon-arrow-right-24::before {
  content: "\e915";
}

.icon-member-24::before {
  content: "\e913";
}

.icon-notfall-24::before {
  content: "\e902";
}

.icon-zuweiser-24::before {
  content: "\e903";
}

.icon-linkedin-32::before {
  content: "\e90b";
}
