@use "../abstract/variables/color";

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(25%);
  }
}

@keyframes cursor {
  0%,
  100% {
    opacity: 0;
  }

  40%,
  75% {
    opacity: 1;
  }
}
