<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rewrite rules for the main site
    RewriteBase /
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>

<FilesMatch "\\.(js|css|html|htm|php|xml|svg)$">
    SetOutputFilter DEFLATE
</FilesMatch>

<IfModule mod_gzip.c>
    mod_gzip_on yes
    mod_gzip_static_suffix .gz
    mod_gzip_can_negotiate yes
    AddEncoding gzip .gz
    mod_gzip_update_static no
    mod_gzip_item_include file \.(html|php|rss)$
    mod_gzip_item_exclude file \.(css|js|exe)$
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
    mod_gzip_dechunk yes
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 500 seconds"
    ExpiresByType image/gif "access plus 14 days"
    ExpiresByType image/ico "access plus 14 days"
    ExpiresByType image/jpeg "access plus 14 days"
    ExpiresByType image/jpg "access plus 14 days"
    ExpiresByType image/png "access plus 14 days"
    ExpiresByType text/css "access plus 14 days"
    ExpiresByType text/javascript "access plus 14 days"
    ExpiresByType application/x-javascript "access plus 14 days"
    ExpiresByType application/javascript "access plus 14 days"
    ExpiresByType font/woff2  "access plus 1 year"
    ExpiresByType application/font-woff2  "access plus 1 year"
    ExpiresByType application/x-font-woff2  "access plus 1 year"
</IfModule>
